* {
	margin: 0;
	padding: 0;
}

a:hover, a:active {
	color: #FF6565;
}

button:hover, button:active {
	opacity: 0.9;
}

/* HEADER STYLES */

header {
	background: url('headphones_hero_1.jpg') center/cover;
	width: 100%;
	height: 100vh;
}

header img {
	height: 100%;
	width: auto;
}

header nav {
	float: right;
	margin-top: 6px;
}

header li {
	list-style-type: none;
	float: left;
	margin-right: 30px;
}

header a {
	text-decoration: none;
	color: white;
}



header .bar {
	width: 1000px;
	height: 32px;
	margin: auto;
	position: relative;
	top: 32px;
}

header button {
	width: 162px;
	height: 44px;
	border-radius: 15%/50%;
	background-color: #FF6565;
	margin: 20px auto;
	color: white;
}

header .hero {
	margin-top: 50vh;
	margin-left: auto;
	margin-right: auto;
	width: 637px;
	color: white;
	text-align: center;
}